/*------------------------------------------ GLOBALES ------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aside {
    grid-area: aside;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid map-get($colors, $back-blue);
    color: map-get($colors, $color-white);
    background-color: map-get($colors, $back-blue);
    margin: 30px;
}